<html>
 <head>
  <meta charset="utf-8">
 </head>
<body>
  <h2>CRUD Primer estadio</h2>
  <h3>Añadir Datos</h3>
  <form name="search" method="get">
  <p>Clave:
    <input name="key" type="text"/>
  </p>
  <p>Valores:
    <input name="value" type="text"/>
  </p>
  <p>
    <input name="submit" type="submit" value="add"/>
  </p>
  </form>
  {% if last %}
  <hr />
  <b><i>{{last}}</i></b>
  {% endif %}
  {% if elementos %}
  <hr />
  <table style="width:60%">
    {% for key,value in elementos.items() %}
     <tr>
      <td>Clave:{{key}}</td>
      <td>Valor:{{value}}</td>
     </tr>
    {% endfor %}
  </table> 
  {% endif %}
</body>
</html>
